/* main */
.btn-position{
    position: fixed;
    right: 19px;
    padding-top: 25px;
    margin-bottom: 0;
    z-index: 997;
}
.title-12{
    padding: 20px 10px 20px 20px !important;
    font-size: 1.3em;
    font-weight: 450;
}

#secListas{
    display: none;
}

#secItensListas{
    display: block;
}

/* materialize*/
nav{
    color:rgb(65, 65, 65);
    background-color:#F5F5F5;
    text-align: center;
}
nav a {
    color: rgb(101, 101, 101);;
    
}
.collection-item{
    color: #424242 !important;
    padding: 20px 25px 20px 25px !important;
}
